body,html{
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url('pexels-fwstudio-129731.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}